*{
    margin: 0;
    padding: 0;
}

button{
    background-color: rgb(51, 190, 81);
    height: 30px;
    width: 70px;
    border-radius: 5px;
    color: #fff;
}
button:hover{
    background-color: rgb(29, 32, 206);
    transition: .5s;
    border-radius: 5px;
}

img{ 
    margin: 10px;
}

body{
    background-image: url(./img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}